<!-- This is the About Me page for visitors to know more about me -->
<h1>Get To Know Me</h1>
<div class = "aboutMe">
  <p>My name is <span class = "name">Jamieden Cabrigas</span>. I also go by Jamie!</p>

  <!-- Created a "Coding Knowledge" page to separate education. -->
  <h2>My Passion</h2>
  <p>I'm a big fan of video games! In fact, I believe my addiction to them as a child helped solidify my love for technology as a whole. I've played games ranging from different genres from action and adventure, to role-playing games [RPGs] and the casual mobile app. As a hobby not only do I play video games but I also stream my adventures as well. The schedule for streams is not concrete and is more on a basis of how I feel, but when the camera and controller is on, there's nothing but chaos and fun on the channel.</p>

  <h2>Twitch Streamer</h2>
  <!-- Enter Paragraph about being a Twitch Streamer -->

  <h2>Small Business Owner</h2>
  <!-- Enter paragraph about being an Etsy shop owner -->
</div>

<!-- Moved "Technologies" Section to Coding page -->