<!-- This is the About Me page for visitors to know more about me -->
<h1>Get To Know Me</h1>
<div class = "aboutMe">
  <p>My name is <span class = "name">Jamieden Cabrigas</span>. I also go by Jamie!</p>

  <!-- Created a "Coding Knowledge" page to separate education. -->
  <h2>Video Games</h2>
  <p>I'm a huge fan of video games! In fact, I believe my addiction to them as a child helped solidify my love for technology as a whole. How could I ever forget the times where I held a Nintendo 64 controller at home while I played "Mario Party 3" and "Super Mario 64"? As I got older, I started to fancy more action packed games like the "Halo" series and the "Assassin's Creed" games. Now-a-days I can confidently say that I've played a wide range of games with various genres like action and adventure, role-playing games [RPGs], and even the casual mobile app. I knew it would only be a matter of time before I wanted to make video games as part of my career.</p>

  <h2>Twitch Streamer</h2>
  <!-- Enter Paragraph about being a Twitch Streamer -->

  <h2>Small Business Owner</h2>
  <!-- Enter paragraph about being an Etsy shop owner -->
</div>

<!-- Moved "Technologies" Section to Coding page -->