<!-- This is the About Me page for visitors to know more about me -->
<h1>Hello There!</h1>
<div class = "aboutMe">
  <p>My name is Jamieden Cabrigas. I also go by Jamie!</p>
  <p>I’m a Software Engineer with an understanding of languages such as JavaScript, Node.js, Express.js, and React. My previous jobs have taught me how to work and communicate heavily in teams and to accomplish the task at hand in time sensitive situations while staying consistent and accurate. I excel individually with front-end development and collectively with a team that is willing to harmonize and work together despite the different job specifications. I fell in love with technology through video games when I was a child and since then it has only grown into a burning passion where I am determined to make it my career and showcase my front-end power up.</p>
</div>