<!-- This is the About Me page for visitors to know more about me -->
<h1>Get To Know Me</h1>
<div class = "aboutMe">
  <p>My name is Jamieden Cabrigas. I also go by Jamie!</p>
  <p>I’m a Software Engineer with an understanding of languages such as JavaScript, Node.js, Express.js, and React. My previous jobs have taught me how to work and communicate heavily in teams and to accomplish the task at hand in time sensitive situations while staying consistent and accurate. I excel individually with front-end development and collectively with a team that is willing to harmonize and work together despite the different job specifications. I fell in love with technology through video games when I was a child and since then it has only grown into a burning passion where I am determined to make it my career and showcase my front-end power up.</p>

  <h2>General Assembly: Scholarship Recipient</h2>
  <p>In order to learn how to code and create websites and applications, I attended General Assembly. I had enrolled in their Software Engineering Immersive - Remote Program that spanned from September 21st, 2020 to December 18th, 2020. In a span of 12 weeks I had 480 instructional hours to learn full stack web development. If after hour tutoring and class work were factored in, I would have worked well over 500 hours for the program. Throughout the course, students had to submit 4 projects to instructors and receive a passing grade for each one in order to graduate.</p>

  <p>Getting into the program was not easy either. Would-be students would have to finish pre-course work, pass an assessment test, and build a one-page website about themselves that an enrolling agent would have to approve of. All of this had to be done before the cohort started. During my website evaluation, my enrolling agent was so pleased with what I had created that he had awarded me with a scholarship. </p>

  <h2>My Passion</h2>
  <p>I'm a big fan of video games! In fact, I believe my addiction to them as a child helped solidify my love for technology as a whole. I've played games ranging from different genres from action and adventure, to role-playing games [RPGs] and the casual mobile app. As a hobby not only do I play video games but I also stream my adventures as well. The schedule for streams is not concrete and is more on a basis of how I feel, but when the camera and controller is on, there's nothing but chaos and fun on the channel.</p>
</div>

<h1>Technologies and Skills</h1>
<div class = "languages">
  <div class = "langList">
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Git</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>EJS</li>
      <li>PostgreSQL</li>
      <li>React</li>
      <li>Bootstrap</li>
    </ul>
  </div>
</div>