<!-- This is the About Me page for visitors to know more about me -->
<h1>Get To Know Me!</h1>
<div class = "aboutMe">
  <p>My name is <span class = "name">Jamieden Cabrigas</span>. I also go by Jamie!</p>

  <!-- Created a "Coding Knowledge" page to separate education. -->
  <h2>Video Games</h2>
  <p>I'm a huge fan of video games! In fact, I believe my addiction to them as a child helped solidify my love for technology as a whole. How could I ever forget the times where I held a Nintendo 64 controller at home while I played "Mario Party 3" and "Super Mario 64"? As I got older, I started to fancy more action packed games like the "Halo" series and the "Assassin's Creed" games. Now-a-days I can confidently say that I've played a wide range of games with various genres like action and adventure, role-playing games [RPGs], and even the casual mobile app. I knew it would only be a matter of time before I wanted to make video games as part of my career.</p>

  <h2>Twitch Streamer</h2>
  <!-- Enter Paragraph about being a Twitch Streamer -->

  <h2>Small Business Owner</h2>
  <p>Back in my early community college days, I discovered how to make figurines out of these nifty little beads called "Perler Beads". They currently have many different renditions of them, some being "Fuse Beads" or "Hama Beads", etc. but I find myself sticking to the one and only brand of "Perler". The whole premise of these types of beads was that you had arrange them on a board and then permanently iron them together. After a few of my friends stated that they would buy them as a keychain, the wheels began to spin. Not long after, I was being commissioned by a school club I was a member of, and my tiny business began to take off. However, after graduating from the college and moving out of the city to bigger and better things, I found myself wishing I could still sell those keychains.</p>

  <p>Leap forward more than 5 years and you've got the world in the middle of a pandemic. After cleaning the clutter at home out of lockdown boredom, I rediscovered the numerous beads that have yet to be fused together. Once again the joy of making bead keychains was back and I found myself creating items I never made before. It felt as if I had just time traveled back, but this time, I found my online friends stating that they would purchase my keychains. After lots of brainstorming and planning, I decided to open an Etsy shop! Although I'm still a small shop, I'm glad I can say that I'm an official small business owner! The link to my shop is right below.</p>

  <a class="craftyJeo" href="https://www.etsy.com/shop/JustCraftyJeo" target="_blank">JustCraftyJeo</a>
</div>

<!-- Moved "Technologies" Section to Coding page -->