<!-- This is the Home Page -->
<div class = "homePage">
  <h1>Jamieden Cabrigas</h1>
  <h2>Frontend Web Developer | Software Engineer <br> Responsive Redesign Developer | Video Game Enthusiast</h2>
</div>