<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Jeo</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href = "/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>

  <%- body %>

  <footer>
    <h1>Contacts</h1>
    <ul>
      <li><a href="https://github.com/JustJeo" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/j-cabrigas/" target="_blank">LinkedIn</a></li>
      <li class="email">j.cabrigas.writer@gmail.com</li>
    </ul>
  </footer>
</body>
</html>