<!-- This is the projects page -->
<h1>Here are projects that I've worked on!</h1>
<div class = "burger">
  <h2>Burger Builder - October 9th, 2020 </h2>
    <p>My first project ever!</p>
</div>
<div class = "boothang">
  <h2>Better Boothang - October 30th, 2020</h2>
    <p>My first team project ever.</p>
</div>
<div class = "collabathon">
  <h2>Collabathon - November 24th, 2020</h2>
</div>
<div class = "soul">
  <h2>Soul Sip'n - November 30th, 2020</h2>
    <p>My second team project.</p>
</div>
<div class = "blink">
  <h2>Heart Of Blink - December 17th, 2020</h2>
    <p>My final project for my coding bootcamp.</p>
</div>