<!-- This is the projects page -->
<h1>Here are projects that I've worked on!</h1>
<div class = "projectText">
  <h2><span>Burger Builder</span> - October 9th, 2020 </h2>
    <p>Burger Builder is my first project ever. The game placed players in the shoes of a chef. Players are given one minute to build randomly picked orders from "customers". The burger must be built from the bottom up and sent for inspection. With every correct order players will earn points and any wrong order loses points.</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, and JavaScript</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/Burger-Builder" target="_blank">Burger Builder GitHub</a></p>
    <p>Play the game here! </br> <a class="projectLink" href="https://justjeo.github.io/Burger-Builder/" target="_blank">Burger Builder</a> </p>
</div>
  <img class="projectPic" src="/images/BurgerBuilder.png" alt="Burger Builder game homepage">

<div class = "projectText">
  <h2><span>Better Boothang</span> - October 30th, 2020</h2>
    <p>For my first team project ever, my class was divided into pre-assigned teams of three. My teammates were Derek Foster and Booker Showers III. The app allowed users to store the numbers of their favorite people and send them pre-generated text messages from a list. The app was meant to help individuals, that couldn't think of what to say, send messages with all of the right words.</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, JavaScript, Node.js, PostgreSQL, Express.js, and Bootstrap.</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/fostimus/better-boothang" target="_blank">Better Boothang Github</a></p>
</div>
  <img class="projectPic" src="/images/BetterBoothangFinal.png" alt="Better Boothang app homepage">

<div class = "projectText">
  <h2><span>Collabathon</span> - November 24th, 2020</h2>
    <p>In order for students to understand what work in the real world was like, a collaboration project between a Software Engineer class and a UX Designer class was made for a 2-day sprint. Teams consisted of 2 students from each class to make a 4 member group. My Software Engineering partner was Jane Cho. The project was to have UX Designers come up with a prototype that Software Engineers had to replicate to the best of their abilities in the allotted time. In the pictures below, the UX created design is to the left while the final version of the software engineeer replica is to the right. For sake of the vertically long design, only the top-most portion is shown.</p>
    <p><span class = "tech">Technologies Used:</span> PostgreSQL, Express.js, React, Node.js, React-Strap, and Sass.</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/netflix-review-frontend" target="_blank">Netflix Review Front-End</a> </br> <a class="projectLink" href="https://github.com/JustJeo/netflix-review-backend" target="_blank">Netflix Review Back-End</a></p>
</div>
  <div class="collabPics">
    <img class="collabInline" src="/images/FigmaPrototype.png" alt="UX designed version of collabathon project">
    <img class="collabInline" src="/images/ReplicatedFinal.png" alt="Developer version of collabathon project">
  </div>

<div class = "projectText">
  <h2><span>Soul Sip'n</span> - November 30th, 2020</h2>
    <p>Wrapping up the lessons on React, the 3rd project for the coding program allowed students to choose their teams. Students could choose between going solo or teaming up with 2 other students to create a final team of 3. I chose my teammates Brock Molmen and Lauren Nguyen. The project required students to use at <i>least</i> PostgreSQL, Express.js, React, and Node.js. The project we created was a tea informational app that allowed users to view many different types of teas as well as see the benefits of each individual tea. Users were able to create a profile and save their favorite teas. A registered user can also save a specified benefit to onyl allow teas that fit that criteria to display in a search result.</p>
    <p><span class = "tech">Technologies Used:</span> PostgreSQL, Express.js, React, Node.js, and React-Strap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/laurennguyen395/soulsipn-pern-auth-frontend" target="_blank">Soul Sip'n Front-End</a> </br> <a class="projectLink" href="https://github.com/laurennguyen395/soulsipn-pern-auth-backend" target="_blank">Soul Sip'n Back-End</a></p>
</div>
  <img class="projectPic" src="/images/SoulSipnFinal.png" alt="Soul Sip'n app homepage">

<div class = "projectText">
  <h2><span>Heart Of Blink</span> - December 17th, 2020</h2>
    <p>The final project for the program was a mandatory solo project. Students were given the liberty to create whatever they wanted to. The only catch was that the app had to have a front-end and back-end to its code as well as push the student's ability to code by themselves. If a student obviously did not put their skills to the test then they would not receive a passing grade. My love for video games swayed in my decision to make another game. I am not a strong back-end developer so I took this opportunity to test myself by creating a game that required a lot of back-end code. The game is based on the k-pop group BLACKPINK and is played as a fill-in-the-blank. Players would be able to chose a song from the group's library of songs and is faced with 10 questions. Players are then given blanks to type in the correct answer. After submitting their answers, the correct answers would be displayed along with the player's guess.</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, JavaScript, Node.js, Express.js, Bootstrap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/HeartOfBlink" target="_blank">Heart Of Blink GitHub</a></p>
</div>
  <img class="projectPic" src="/images/HeartOfBlink.png" alt="Heart Of Blink game homepage">