<!-- This is the projects page -->
<h1>Here are projects that I've worked on!</h1>
<div class = "burger">
  <h2><span>Burger Builder</span> - October 9th, 2020 </h2>
    <p>Burger Builder is my first project ever. The game placed players in the shoes of a chef. Players are given one minute to build randomly picked orders from "customers". The burger must be built from the bottom up and sent for inspection. With every correct order players will earn points and any wrong order loses points.</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, and JavaScript</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/Burger-Builder" target="_blank">Burger Builder GitHub</a></p>
    <p>Play the game here! </br> <a class="projectLink" href="https://justjeo.github.io/Burger-Builder/" target="_blank">Burger Builder</a> </p>
    <img src="/images/BurgerBuilder.png" alt="Burger Builder game homepage">
</div>
<div class = "boothang">
  <h2><span>Better Boothang</span> - October 30th, 2020</h2>
    <p>For my first team project ever, my class was divided into pre-assigned teams of three. The app allowed users</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, JavaScript, Node.js, PostgreSQL, and Express.js, Bootstrap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/fostimus/better-boothang" target="_blank">Better Boothang Github</a></p>
    <img src="/images/BetterBoothangFinal.png" alt="Better Boothang app homepage">
</div>
<div class = "collabathon">
  <h2><span>Collabathon</span> - November 24th, 2020</h2>
    <p>A collaboration project with the UX Designer class.</p>
    <p><span class = "tech">Technologies Used:</span> PostgreSQL, Express.js, React, Node.js, React-Strap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/netflix-review-frontend" target="_blank">Netflix Review Front-End</a> </br> <a class="projectLink" href="https://github.com/JustJeo/netflix-review-backend" target="_blank">Netflix Review Back-End</a></p>
    <div class="collabPics">
      <img class="collabInline" src="/images/FigmaPrototype.png" alt="UX designed version of collabathon project">
      <img class="collabInline" src="/images/ReplicatedFinal.png" alt="Developer version of collabathon project">
    </div>
</div>
<div class = "soul">
  <h2><span>Soul Sip'n</span> - November 30th, 2020</h2>
    <p>My second team project.</p>
    <p><span class = "tech">Technologies Used:</span> PostgreSQL, Express.js, React, Node.js, React-Strap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/laurennguyen395/soulsipn-pern-auth-frontend" target="_blank">Soul Sip'n Front-End</a> </br> <a class="projectLink" href="https://github.com/laurennguyen395/soulsipn-pern-auth-backend" target="_blank">Soul Sip'n Back-End</a></p>
    <img src="/images/SoulSipnFinal.png" alt="Soul Sip'n app homepage">
</div>
<div class = "blink">
  <h2><span>Heart Of Blink</span> - December 17th, 2020</h2>
    <p>My final project for my coding bootcamp.</p>
    <p><span class = "tech">Technologies Used:</span> HTML, CSS, JavaScript, Node.js, Express.js, Bootstrap</p>
    <p>View the GitHub here! </br> <a class="projectLink" href="https://github.com/JustJeo/HeartOfBlink" target="_blank">Heart Of Blink GitHub</a></p>
    <img src="/images/HeartOfBlink.png" alt="Heart Of Blink game homepage">
</div>