* {
  font-family: "Play", sans-serif;
}

body {
  background: #a3cdff;
  color: white;
  text-shadow: 2px 2px dimgray;
  font-size: 1.5em;
  background: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;
}

img {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 5px solid dimgray;
}


nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav a:hover {
  color: silver;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  bottom: 0;
}

footer ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

footer ul {
  display: flex;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

footer a:hover {
  color: silver;
}

/* Classes */
.homePage {
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 70%;
  margin: 300px auto;
  border: 5px solid white;
}

.aboutMe {
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 80%;
  margin: 25px auto;
  border: 5px solid white;
}

.languages ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
  display: inline-block;
}

.langList {
  text-align: center;
  color: limegreen;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px;
  width: 55%;
  margin: 25px auto;
  border: 5px solid white;
}

.projectText {
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 90%;
  margin: 25px auto;
  border: 5px solid white;
}

.projectPic {
  margin-bottom: 50px;
}

span {
  color: darkorange;
}

.tech {
  color: limegreen;
}

.projectLink {
  color: gold;
}

.collabInline {
  display: inline-block;
  width: 40%;
  height: 500px;
  margin: 0;
}

.collabPics {
  text-align: center;
  padding-bottom: 50px;
}

/* Responsive Code */
/* Phone */
@media only screen and (max-width: 850px) {
  nav {
    text-align: center;
  }

  footer {
    background-color: black;
    display: block;
    padding: 10px;
  }

  footer h1 {
    text-align: center;
  }
  
  footer ul {
    padding: 10px;
    display: block;
  }

  footer ul li {
    padding: 10px 0;
    margin: 0 auto;
  }

  /* .email {
    display: block;
  } */
}