* {
  font-family: "Play", sans-serif;
}

body {
  background: #a3cdff;
  color: white;
  font-size: 1.5em;
  background: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 5px solid dimgray;
}

span {
  color: darkorange;
}

.tech {
  color: limegreen;
}

a:visited {
  color: gold;
}

nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav a:hover {
  color: silver;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  padding-left: 20px;
  bottom: 0;
}

footer ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

footer ul {
  display: flex;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

footer a:hover {
  color: silver;
}