* {
  font-family: "Play", sans-serif;
}

body {
  background: #a3cdff;
  color: white;
  text-shadow: 2px 1px dimgray;
  font-size: 1.5em;
  background: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  /* padding: 15px; */
}

body h1 {
  margin: 25px;
}

img {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 5px solid dimgray;
}


nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav a:hover {
  color: silver;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  bottom: 0;
}

footer ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
}

footer ul {
  display: flex;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

footer a:hover {
  color: silver;
}

/* Classes */
.homePage {
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 70%;
  margin: 250px auto;
  border: 5px solid white;
}

.homePage h1 {
  color: deepskyblue;
}

.aboutMe, .codingKnowledge {
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 80%;
  margin: 25px auto;
  border: 5px solid white;
}

.aboutMe h2, .codingKnowledge h2 {
  margin-bottom: 0;
  color: gold;
}

.aboutMe h3, .codingKnowledge h3 {
  margin-bottom: 0;
  color: red;
}

.aboutMe p, .codingKnowledge p {
  margin-top: 0;
}

.languages ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
  display: inline-block;
}

.langList {
  text-align: center;
  color: limegreen;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px;
  width: 60%;
  margin: 25px auto;
  border: 5px solid white;
}

.langList ul {
  padding: 0;
}

.projectText {
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 90%;
  margin: 25px auto;
  border: 5px solid white;
}

.projectPic {
  margin-bottom: 50px;
}

.blinkPic {
  margin-bottom: 25px;
}

span {
  color: darkorange;
}

.name {
  color: deepskyblue;
}

.tech {
  color: limegreen;
}

.projectLink {
  color: gold;
}

.collabInline {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
}

.collabPics {
  text-align: center;
  padding-bottom: 50px;
}

/* Responsive Code */
/* Phone */
@media only screen and (max-width: 850px) {
  body {
    font-size: 1em;
  }

  body h1 {
    text-align: center;
  }

  nav {
    text-align: center;
  }

  footer {
    background-color: black;
    display: block;
    padding: 10px;
  }

  footer h1 {
    text-align: center;
  }
  
  footer ul {
    padding: 10px;
    display: block;
  }

  footer ul li {
    padding: 10px 0;
    margin: 0 auto;
  }

  img {
    width: 90%;
    margin: 0 auto;
  }

  .projectText {
    padding: 10px;
  }

  .collabInline {
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}